header {
  padding-top: 50px;
  padding-bottom: 60px;
}

h1,
h2,
p {
  text-align: center;
}

.forecast {
  text-align: center;
  display: inline-block;
}

.current-forecast {
  padding-top: 25px;
}
.current-forecast-txt {
  text-align: center;
  font-size: 35px;
}

.five-day-forecast {
  text-align: center;
  font-size: 25px;
}

.five-day-img {
  width: 40px;
}
